%li{:id => "performer_#{performer_id}"}
  - form_remote_tag( :complete=>'handleComplete(request)', :url=>{:controller=>'performances', :action =>:update_instrument, :id => performer_id}, :html => { :id => "performer_#{performer_id}" }) do
    name:
    = text_field "instrument", "name"
    = submit_tag 'update'
    = link_to_function 'cancel', 'window.location.reload(true);'
