%header
  %nav.navbar.navbar-default.navbar-static-top{:role => "navigation"}
    .row
      .navbar-header.col-lg-1
        // extra-small resolutions
        %button{:class => 'navbar-toggle', 'data-togle' => 'collapse', 'data-target' => '.navbar-ex1-collapse'}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

      .navbar-brand
        AMR - Archives

      .col-lg-6
        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav
            %li= link_to 'performances', performances_path
            %li= link_to 'artists', artists_path
            %li= link_to 'bands', bands_path
            %li= link_to 'events', events_path
            %li= link_to 'instruments', instruments_path
            %li= link_to 'locations', locations_path
            %li= link_to 'medias', medias_path

      .col-lg-2
        .nav.navbar-nav.navbar-form.navbar-right
          .form-group
            - if user_signed_in?
              = link_to 'logout',
                destroy_user_session_path,
                :method => 'delete',
                :class => 'btn btn-danger form-control'
            - else
              = link_to 'login',
                new_user_session_path,
                :class => 'btn btn-default form-control'

